{{- $isLaptop := promptBoolOnce . "isLaptop" "Is this a laptop" -}}

[data]
name = {{ promptStringOnce . "name" "What's your name" | quote }}
email = {{ promptStringOnce . "email" "What's your email" | quote }}
isLaptop = {{ $isLaptop }}
isHeadless = {{ promptBoolOnce . "isHeadless" "Is this a headless install" }}
terminalFont = "CaskaydiaCove Nerd Font"
terminalFontSize = {{ if eq .chezmoi.os "darwin" -}} 16 {{- else if $isLaptop -}} 12 {{- else -}} 16 {{- end }}
