{{- $isLaptop := promptBoolOnce . "isLaptop" "Is this a laptop" -}}

[data]
isLaptop = {{ $isLaptop }}
terminalFont = "CaskaydiaCove Nerd Font"
terminalFontSize = {{ if $isLaptop -}} 8 {{- else -}} 12 {{- end }}
