[init]
    defaultBranch = main
[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
[core]
    excludesFile = ~/.gitignore
    pager = delta
[push]
    default = simple
[pull]
    rebase = false
[init]
    defaultBranch = main
[diff]
    colorMoved = default
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    navigate = true
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[safe]
    directory = *
[commit]
    gpgsign = true
