import = ["~/.config/alacritty/theme.toml"]

[shell]
program = "/usr/bin/fish"
args = ["-c", "SHELL=/usr/sbin/fish toolbox enter arch-distrobox-latest"]

[window]
decorations = "None"
blur = true
padding = { x = 4, y = 4 }

[font]
size = {{ .terminalFontSize }}
normal = { family = {{ .terminalFont | quote }} } 
