import = ["~/.config/alacritty/theme.toml"]

[shell]
program = "/usr/sbin/fish"
args = ["-c", "toolbox enter arch-distrobox-latest"]

[window]
decorations = "None"
blue = true

[font]
size = {{ .terminalFontSize }}
normal = { family = {{ .terminalFont | quote }} } 
